@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	overflow-x: hidden;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

/*** DEFAULTS ***/

button {
	padding: 0.65em 1.9em;
	background-color: transparent;
	border: solid 3px #7ca9e9;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}

button:hover {
	background-color: #7ca9e9;
}

button.dark {
	color: #000000;
}

button p {
	font-size: 1.1rem;
	font-family: "Montserrat";
	margin: 0 !important;
}

section.split {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: "Montserrat";
	padding: 4em 2em;
}

section.split button {
	color: #24252A;
}

section.split div {
	width: 45vw;
}

section.split h1 {
	font-weight: 400;
	font-size: 2.2rem;
	margin: 0 0 1.25em 0;
}

section.split p {
	margin: 0 0 2em 0;
	font-size: 1.15rem;
	font-weight: 300;
}

section.split img {
	width: 100%;
	height: auto;
}

section.split button {
	margin: 0.5em 0 0 0;
}

.light-section {
	background-color: #eaeaea;
	color: #24252A !important;
}


.dark-section {
	background-color: #24252A;
	color: #eaeaea !important;
}

.light-section button p { color: #24252A !important; }
.dark-section button p { color: #eaeaea !important; }

/*** NAV BAR ***/

nav {
	background-color: #212226;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #ffffff;
	padding: 1.75em 0;
}

nav a {
	text-decoration: none;
}

nav h1 {
	color: #e2e2e2;
	width: 100%;
	font-family: "Poppins";
	font-weight: 900;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 45vw;
}

nav ul li {
	font-size: 1.1rem;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 400;
	transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
}

nav ul li:hover {
	color: #7ca9e9;
}

nav button, #thanks button {
	border-color: #f96854;
}

nav button:hover, #thanks button:hover { background-color: #f96854; }

/*** FOOTER ***/

footer .links {
	display: flex;
	justify-content: space-around;
}

footer .links ul {
	list-style: none;
	font-family: "Montserrat";
	font-weight: 300;
	margin: 2em 0;
}

footer .links ul .title {
	font-weight: 600;
	margin: 0 0 0.6em 0;
}

footer .links ul a {
	color: blue;
	text-decoration: none;
}

footer .links ul a:hover { text-decoration: underline; }

footer h3 {
	font-family: "Montserrat";
	font-weight: 300;
	padding: 0 0 0.05em 0.25em;
}

/*** THANKS ***/

#thanks {
	padding: 2em 0;
	text-align: center;
}

#thanks h1 {
	font-family: "Poppins";
	font-weight: 900;
	font-size: 2.5rem;
	margin: 0 0 1.25em 0;
}

#thanks .sponsors p {
	font-family: "Montserrat";
	font-weight: 200;
	font-size: 1.1rem;
	display: inline-block;
	width: 24vw;
	margin: 0.25em 0;
}

#thanks button {
	margin: 4em 0 0 0;
	width: 25vw;
}