/* Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Defaults */

button {
    font-family: "Montserrat";
    border: none;
    background-color: #7ca9e9;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}

button:hover {
    background-color: #5e9bf0;
}

button.gray-btn { background-color: #aaaaaa; }
button.gray-btn:hover { background-color: #8f8f8f; }

button.red-btn { background-color: #f56042; }
button.red-btn:hover { background-color: #fc4c28; }

.become-patron button {
    width: 20vw;
    height: 4em;
}

.become-patron button p {
    font-size: 1.25rem;
    margin: 0;
}

/* Navigation Section */

nav {
    width: 100vw;
    background-color: #b9deee;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Open Sans";
}

nav ul a {
    text-decoration: none;
    color: #000000;
}

nav ul li {
    padding: 10px 0;
    width: 25vw;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration-delay: 0.4s;
    -moz-transition-duration: 0.4s;
}

nav ul li {
    border-bottom: 4px solid #7298AA;
}

nav ul li:hover {
    background-color: #bbe5f7;
}

nav ul li.selected {
    border-bottom: 4px solid #2db8f3;
}

/* Made Possible Section */

#made-possible {
    text-align: center;
    padding: 0 0 2em 0;
}

#made-possible h2 {
    font-family: "Open Sans";
    font-size: 2rem;
}

#made-possible .names {
    font-family: "Open Sans";
    font-size: 1.1rem;
    width: 100vw;
    margin: 0 0 2em 0;
}

#made-possible .names p {
    display: inline-block;
    width: 20vw;
    font-weight: bolder;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}

#made-possible .names p:hover {
    font-size: 1.3rem;
}

/* Parallax */
.parallax {
    height: 20em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p1 { background-image: url("../images/backgrounds/tree.jpg"); }
.p2 { background-image: url("../images/backgrounds/waterfall.jpg"); }
.p3 { background-image: url("../images/backgrounds/bridge.jpg"); }
.p4 { background-image: url("../images/backgrounds/beach.jpg"); }
.p5 { background-image: url("../images/backgrounds/ocean.jpg"); }

/* Footer Section */

footer .wrapper {
    display: flex;
    justify-content: space-around;
}

footer .wrapper ul {
    list-style: none;
    text-align: center;
}

footer .wrapper li {
    font-family: "Open Sans";
    color: #000000;
    font-size: 1.2rem;
}

footer .wrapper a {
    text-decoration: none;
}

footer .wrapper .head li {
    font-size: 1.5rem;
    text-decoration: underline;
}

footer .copyright {
    margin: 0 0 0.5em 0.5em;
}

footer h3 {
    font-family: "Open Sans";
    margin: 0;
}

/* Responsive */

@media only screen and (max-width: 900px) {
    .become-patron button {
        width: 35vw;
        height: 4em;
    }
}

@media only screen and (max-width: 460px) {
    footer .wrapper {
        flex-direction: column;
    }

    .become-patron button {
        width: 50vw;
    }
}