/******************* FONTS *******************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');

html, body {
    width: 100vw;
    overflow-x: hidden !important;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

/******************* UNIVERSAL CLASSES *******************/

.hidden { display: none !important; }
.dark-bg { background-color: #24252A; color: #eeeeee !important; }
.light-bg { background-color: #eaeaea; color: #333333 !important; }
.light-bg a button p { color: #333333; font-weight: 200; }
.back-to-top h1 { font-weight: 100; }
.back-to-top:hover { background-color: #212226; }

.back-to-top {
    font-family: "Montserrat";
    text-align: center;
    min-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
}

header h1 {
    font-family: "Poppins";
    font-size: 4rem !important;
    margin: 0 !important;
}

.scrolldown {
    padding: 0 0 0 0.5em;
}

.scrolldown span {
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: rotate(45deg);
    animation: scroll-animation 2s infinite;
}

.scrolldown span:nth-child(1) {
    transform: translate(0, -20px) rotate(45deg);
}

.scrolldown span:nth-child(2) { animation-delay: 0.2s; }

.scrolldown span:nth-child(3) {
    transform: translate(0, 20px) rotate(45deg);
    animation-delay: 0.4s;
}

@keyframes scroll-animation {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opactiy: 0%;
    }
}

/******************* NAV BAR *******************/

body {
    overflow-x: hidden;
}

nav li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

nav {
    background-color: #212226;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
}

nav .logo-txt {
    cursor: pointer; 
    font-family: "Poppins", Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    color: #e2e2e2;
    transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
}

nav .logo-txt:hover { color: #7ca9e9; }

nav .nav-links { list-style: none; }

nav .nav-links li {
    display: inline-block;
    padding: 10px 20px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
}

nav .nav-links a.selected li p { color: #7ca9e9; }

nav .nav-links li a {
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

nav .nav-links li:hover { color: #7ca9e9; }

nav .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 66%;
}

button {
    padding: 9px 20px;
    background-color: transparent;
    border: solid 3px #7ca9e9;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    outline: none;
}

button:hover {
    background-color: #7ca9e9;
    opacity: 100%;
}

.patreon button { border: solid 3px #f96854; }
.patreon button:hover { background-color: #f96854; }

nav .burger {
    cursor: pointer; 
    display: none;
}

nav .burger div {
    height: 5px; 
    width: 42px;
    background-color: #e2e2e2;
    margin: 4px 0;
    border-radius: 5px;
}

nav .burger .line-1, .line-3 {
    transition: transform 0.5s ease-in-out 0s;
    -moz-transition: transform 0.5s ease-in-out 0s;
    -webkit-transition: transform 0.5s ease-in-out 0s;
}

nav .burger .line-2 {
    transition: opacity 0.5s ease-in-out 0s;
    -moz-transition: opacity 0.5s ease-in-out 0s;
    -webkit-transition: opacity 0.5s ease-in-out 0s;
}

nav .translate-content { transform: translate(-150vw, 0); }

nav .translate-burger .line-1 {
    transform-origin: left;
    transform: translate(10px, -7px) rotate(45deg);
}

nav .translate-burger .line-3 {
    transform-origin: right;
    transform: translate(-10px, -16px) rotate(-45deg);
}

nav .translate-burger .line-2 { opacity: 0%; position: absolute; }

@media only screen and (max-width: 1067px) {
    nav .nav-links li { padding: 0 10px; }
}

@media only screen and (max-width: 950px) {
    nav .nav-links li {
        display: flex; 
        background-color: #1a1a1c;
        border-radius: 5px;
        border: solid 1px #24252A;
        width: 100vw;
        align-items: center;
        justify-content: center;
        height: 20vh;
    }

    nav .nav-links li p {
        font-size: 1.5rem;
    }

    nav .content {
        flex-direction: column;
        position: absolute;
        display: none;
        top: 75px;
        right: -150vw;
        width: 100vw;
        transition: transform 0.5s ease-in-out 0s;
        -moz-transition: transform 0.5s ease-in-out 0s;
        -webkit-transition: transform 0.5s ease-in-out 0s;
    }

    nav .burger {
        display: block;
    }

    nav button {
        width: 50vw;
        background-color: #7ca9e9;
        opacity: 80%;
    }

    nav .patreon button {
        background-color: #f96854;
    }

    nav .btns { display: flex; }
    nav .btns .login { padding-right: 0; }
    nav .btns a { width: 50vw; }
}

/******************* HEADER *******************/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 34em;
}

header h1 {
    font-family: "Poppins";
    font-weight: 900;
}

header p {
    font-family: "Montserrat";
    font-size: 1.2rem;
    color: #333333;
    font-weight: 100;
}

header p a {
    color: blue;
    font-family: "Montserrat";
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: 100;
}

header .info {
    width: 45vw;
}

header .graphic, img { 
    width: 35vw; 
    height: auto;
}

/******************* CARDS *******************/


.cards {
    display: flex;
    justify-content: space-around;
    margin: 3em 0;
    font-family: "Montserrat";
}

.card {
    width: 25%;
    background-color: #eeeeee;
    padding: 2em;
    text-align: center;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.card button {
    color: #333333;
}

.card a {
    color: blue;
    text-decoration: underline;
}

.card button p {
    margin: 0;
}

.card h1 { margin: 0 0 1em 0; }
.card p { margin: 0 0 2em 0; }

/******************* LIGHT SECTION *******************/

.light-section {
    padding: 4em 1.4em;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-around;
    font-family: Montserrat;
    color: #333333;
    align-items: center;
    min-height: 30em;
}

.light-section div { width: 45vw; }

.light-section .info h1 { 
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0 0 1em 0;
}

.light-section .info p {
    font-size: 1.15rem;
    font-weight: 300;
}

.light-section button {
    height: 50px;
}

.light-section button p { 
    color: #333333; 
    font-family: "Montserrat";
}

.light-section img {
    width: 45vw;
    height: auto; 
}

.light-section a.link {
    color: blue;
    font-size: 1.15rem;
    font-weight: 200;
    text-decoration: underline;
}

/******************* DARK SECTION *******************/

.dark-section { 
    background-color: #24252A;
    color: #eeeeee;
    padding: 4em 1.4em;
    display: flex;
    justify-content: space-around;
    font-family: Montserrat;
    align-items: center;
    min-height: 30em;
}

.dark-section div { width: 45vw; }

.dark-section .info h1 { 
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0 0 1em 0;
}

.dark-section .info p {
    font-size: 1.15rem;
    font-weight: 300;
}

.dark-section img {
    width: 45vw;
    height: auto; 
}

.dark-section .graphic { text-align: center; }


/******************* THANKS *******************/

.thanks {
    text-align: center;
    padding: 4em 0;
    min-height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.thanks h1 {
    font-family: "Montserrat";
    font-weight: 500;
    margin: 0 0 2em 0;
    font-size: 2rem;
    font-weight: 400;
}

.thanks ul {
    margin: 0 0 3em 0;
}

.thanks ul li {
    width: 24vw;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 100;
    font-size: 1.1rem;
}

/******************* FOOTER *******************/

footer {
    margin: 0;
    padding: 0 0 0.4em 0;
    font-family: "Montserrat";
}

footer ul {
    list-style: none;
}

footer .links {
    display: flex;
    justify-content: space-around;
    padding: 2em 0 1.75em 0;
    text-align: left;
}

footer .links li.title {
    color: #000000;
    font-weight: 500;
    margin: 0 0 0.5em 0;
    font-size: 1.1rem;
}

footer.dark-bg .links li.title { color: #eeeeee; }

footer .links li.title:hover { color: #000000; }

footer .links li {
    color: #0645AD;
    font-weight: 100;
}

footer .links li:hover { color: #0760f2; }

footer h4 {
    font-weight: 100;
    margin: 0 0 0 0.25em;
}

/******************* RESPONISVE DESIGN *******************/
@media only screen and (max-width: 780px) {
    .cards .card {
        width: 30%;
    }
}

@media only screen and (max-width: 700px) {
    #download .graphic { display: none; }
    #download .rg, .lg div { width: 100vw; }
    #download .info { width: 100vw; }
    #download-graphic, header .graphic { display: none; }

    header, header .info {
        width: 100vw;
    }

    header .info {
        padding-left: 5px !important; 
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 675px) {
    footer .links {
        display: block;
        align-items: center;
        text-align: center;
        width: 100vw;
    }

    footer .links ul {
        margin: 2em 0;
    }
}

@media only screen and (max-width: 500px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards .card {
        width: 60%;
        margin: 1em 0;
    }    
}

@media only screen and (max-width: 460px) {
    .graphic { display: none; }
    .rg, .lg div { width: 100vw; }
    .info { width: 100vw; }
    .info h1{ width: 100vw; }
}

@media only screen and (max-width: 340px) {
    .rg, .lg { padding: 4em 0 4em 1.4em; }
    .rg .info { width: 100vw; }

    .dark-section, .light-section {
        width: 100vw;
        text-align: center;
    }

    .dark-section h1, .light-section h1 {
        width: 100vw;
        text-align: left;
    }
}