#header {
    display: block;
    width: 100vw;
    font-family: "Montserrat";
}

#header .data-wrapper {
    display: flex;
    display: none;
    width: 100vw;
    height: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 12em 0;
}

#header .data h1 {
    font-family: "Poppins";
    font-weight: 900;
    font-size: 2.5rem;
}

#header button {
    display: inline-block !important; 
    margin-top: 2em !important;
    color: #000000;
}

#header p.desc {
    margin: auto 20vw !important;
}

#header button.back { border-color: gray; }
#header button.back:hover { background-color: gray; }

/********** COURSE **********/

#header .course {
    display: block;
}

#header .course h1 {
    font-family: "Poppins";
    font-weight: 900;
    font-size: 2.25rem;
    margin: 0.25em 0 0 0.5em;
}