#doc-main ul, #file-list {
	list-style-type: none;
}

#file-list {
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
}

#doc-main .caret {
	cursor: pointer;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
}

#doc-main .caret::before {
	content: "\25B6";
	color: black;
	display: inline-block;
	margin-right: 6px;
}

#doc-main .caret-down::before {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari */'
	transform: rotate(90deg);  
}

#doc-main .nested {
	display: none;
	margin: 0 0 0 1.2em;
}

#doc-main .active {
	display: block;
}