/* Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Navigation Section */

nav {
    width: 100vw;
    background-color: rgb(185, 222, 238);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Open Sans";
}

nav ul a {
    text-decoration: none;
    color: #000000;
}

nav ul li {
    padding: 10px 0;
    width: 25vw;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration-delay: 0.4s;
    -moz-transition-duration: 0.4s;
}

nav ul li {
    border-bottom: 4px solid #7298AA;
}

nav ul li:hover {
    background-color: #bbe5f7;
}

nav ul li.selected {
    border-bottom: 4px solid #2db8f3;
}

/* Lander Section */

#lander {
    background-image: url("../images/backgrounds/3.png");
    text-align: center;
}

.logo {
    cursor: pointer;
    padding: 3em 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-size: 3rem;
    margin: 0 0 0 0.25em;
    font-family: "Open Sans";
}

#lander-logo {
    width: 65.5;
    height: 97.25px;
    width: auto;
    text-align: center;
}

#application-window {
    width: 90vw;
    height: auto;
}

/* Info Section */

.info-section {
    height: 20em;
    background-image: url("../images/backgrounds/tree.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Download Section */

#download {
    height: 85vh;
    background-image: url("../images/backgrounds/4.png")
}

#download .content {
    display: flex; 
    justify-content: space-around;
}

#download img {
    width: 40vw;
    height: auto;
}