/* Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Defaults */

button {
    font-family: "Montserrat";
    border: none;
    background-color: #7ca9e9;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}

button:hover {
    background-color: #5e9bf0;
}

button.gray-btn {
    background-color: #aaaaaa;
}

button.gray-btn:hover {
    background-color: #8f8f8f;
}

.become-patron button {
    width: 20vw;
    height: 4em;
}

.become-patron button p {
    font-size: 1.25rem;
    margin: 0;
}

/* Navigation Section */

nav {
    width: 100vw;
    background-color: #b9deee;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Open Sans";
}

nav ul a {
    text-decoration: none;
    color: #000000;
}

nav ul li {
    padding: 10px 0;
    width: 25vw;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration-delay: 0.4s;
    -moz-transition-duration: 0.4s;
}

nav ul li {
    border-bottom: 4px solid #7298AA;
}

nav ul li:hover {
    background-color: #bbe5f7;
}

nav ul li.selected {
    border-bottom: 4px solid #2db8f3;
}


/* Lander Section */

#lander {
    background-image: url("../images/backgrounds/3.png");
    text-align: center;
    padding: 0 0 2em 0;
}

.logo {
    cursor: pointer;
    padding: 3em 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-size: 3rem;
    margin: 0 0 0 0.25em;
    font-family: "Open Sans";
}

#lander .become-patron button {
    width: 30vw;
    height: 5em;
}

#lander .become-patron p {
    font-size: 1.5rem;
}

#lander-logo {
    width: 65.5px;
    height: 97.25px;
    width: auto;
    text-align: center;
}

#application-window {
    width: 90vw;
    height: auto;
}

/* Parallax */
.parallax {
    height: 20em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p1 { background-image: url("../images/backgrounds/tree.jpg"); }
.p2 { background-image: url("../images/backgrounds/waterfall.jpg"); }
.p3 { background-image: url("../images/backgrounds/bridge.jpg"); }
.p4 { background-image: url("../images/backgrounds/beach.jpg"); }
.p5 { background-image: url("../images/backgrounds/ocean.jpg"); }

/* Download Section */

#download {
    overflow-y: hidden;
    background-color: #f8f8f8;
    text-align: center;
    padding: 2em 0 3em 0;
}

#download .content {
    display: flex; 
    justify-content: space-around;
}

#download button h3 {
    font-family: "Montserrat";
    font-size: 1.25rem;
    margin: 0.5em 0.5em 0 0.5em;
}

#download .btns {
    text-align: center;
    margin: 0 0 0.25em 0;
}

#download h1 {
    text-align: center;
    font-family: "Open Sans";
    font-size: 2.25rem;
    margin: 0;
    padding: 0.5em 0;
}

#become-patreon {
    font-family: "Montserrat";
    font-size: 0.9rem;
    color: #5090eb;
}

/* Learn */
#learn {
    text-align: center;
    padding: 1em 0 3em 0;
}

#learn h1 {
    font-family: "Open Sans";
    font-size: 2.25rem;
    margin: 0;
    padding: 0.5em 0;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 30vw;
    background-color: #f8f8f8;
    border-radius: 18px;
    box-shadow: 5px 10px 10px #aaaaaa;
}

.card h2 {
    font-family: "Open Sans";
    font-size: 2rem;
    margin: 1em 0 0 0;
}

.card h4 {
    margin: 0;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100;
    color: #5090eb;
}

.card p {
    font-family: "Montserrat";
    font-size: 1.2rem;
    margin: 2em 3em;
}

.card button {
    width: 75%;
    height: 3em;
    margin: 0 0 2em 0;
}

.card button p {
    margin: 0;
    font-size: 1.5rem;
}

.card.recommended-card {
    background-color: #f5f5f5;
    box-shadow: 25px 30px 10px #aaaaaa;
}

/* Documentation Section */

#documentation {
    padding: 2em 0 2em 0;
    text-align: center;
}

#documentation h1 {
    font-size: 2.25rem;
    margin: 0 0 1em 0;
    font-family: "Open Sans";
}

#documentation .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#documentation .wrapper p.content {
    width: 40vw;
    font-size: 1.25rem;
    font-family: "Montserrat";
}

#documentation .wrapper .btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 7em;
}

#documentation .wrapper .btns button {
    width: 20vw;
}

#documentation .wrapper .btns button p {
    font-size: 1.2rem;
    margin: 0.6em 0;
}

/* Made Possible Section */

#made-possible {
    text-align: center;
    padding: 0 0 2em 0;
}

#made-possible h2 {
    font-family: "Open Sans";
    font-size: 2rem;
}

#made-possible .names {
    font-family: "Open Sans";
    font-size: 1.1rem;
    width: 100vw;
    margin: 0 0 2em 0;
}

#made-possible .names p {
    display: inline-block;
    width: 20vw;
    font-weight: bolder;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}

#made-possible .names p:hover {
    font-size: 1.3rem;
}

/* Footer Section */

footer .wrapper {
    display: flex;
    justify-content: space-around;
}

footer .wrapper ul {
    list-style: none;
    text-align: center;
}

footer .wrapper li {
    font-family: "Open Sans";
    color: #000000;
    font-size: 1.2rem;
}

footer .wrapper a {
    text-decoration: none;
}

footer .wrapper .head li {
    font-size: 1.5rem;
    text-decoration: underline;
}