#main {
	height: 90vh;
	background-image: url("../images/backgrounds/6.png");
	background-size: cover;
}

#main h1 {
	margin: 0;
	padding: 0.25em 0 0 0;
	font-size: 3rem;
	font-weight: 100;
	text-align: center;
	font-family: "Open Sans"
}

#main .cards {
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#main .card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 24em;
	width: 30vw;
	background-color: #ffffffba;
	text-align: center;
	border-radius: 10px;
	box-shadow: #000000aa 3px 3px 30px;
}

#main .card h3 {
	margin: 0.5em 0 0 0;
	font-family: "Open Sans";
	font-size: 2rem;
}

#main .card h4 {
    margin: 0;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100;
    color: #5090eb;
}

#main .card p {
	font-family: "Montserrat";
	padding: 0 1em;
	font-size: 1.3rem;
	margin: 2em 0;
}

#main .card button {
	width: 85%;
	height: 3em;
	margin: 0 0 1em 0;
}

#main .card button p {
	margin: 0;
}

/* Responsive Design */

@media only screen and (max-width: 1020px) {
	#main .cards {
		flex-direction: column;
		height: auto;
	}

	#main .card {
		width: 50%;
		margin: 1em 0;
	}

	#main {
		height: auto;
	}
}

@media only screen and (max-width: 732px) { #main .card { width: 75%; } }
@media only screen and (max-width: 484px) { #main .card { width: 90%; } }
@media only screen and (max-width: 405px) { #main .card button { height: 4em; } }